<div class="container bg-gray-300">
  <app-side-bar></app-side-bar>

  <div class=" p-2 mx-auto sm:p-4 dark:text-gray-100 ">

    <div class=" flex justify-center items-center">
     <h1 class="text-white font-bold text-5xl ">Ranking</h1>
 <div class="container mx-auto  rounded-lg p-14">

<div class="flex items-center" >
  <div class="relative w-full">

      <input
       type="text"
        id="simple-search"
         class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search branch name..."
          [(ngModel)]="competition"
          required/>
  </div>
  <button (click)="getRanking()" type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
      </svg>
      <span class="sr-only">Search</span>
  </button>
  
</div>

    </div>
    </div>
    <div class="overflow-x-auto">
      <table class="w-full p-6 text-xs text-left whitespace-nowrap">
        <colgroup>
          <col class="w-5">
          <col>
          <col>
          <col>
          <col>
          <col>
          <col class="w-5">
        </colgroup>
        <thead>
          <tr class="dark:bg-gray-700">
            <th class="p-3">Name</th>
            <th class="p-3">familyName </th>
            <th class="p-3">IdentityDocumen</th>
            <th class="p-3">IdentityDocumen</th>
            <th class="p-3">Competition</th>
            <th class="p-3">Rank</th>
            <th class="p-3">Score</th>

          </tr>
        </thead>

        <tbody  class="border-b dark:bg-gray-900 dark:border-gray-700">
      <!--  todo:add putton qui permet dajouter a hunting pour ce ranking click envoi competitoncode + membre code et afficher une forme pop up pour choisire fish et number -->
          <tr *ngFor="let ranking of rankingCompitition ">
            <td class="px-3 py-2">
               <p> {{ranking.member.name}}</p>
             </td>
             <td class="px-3 py-2">
               <p> {{ranking.member.familyName}}</p>
             </td>
              <td class="px-3 py-2">
               <p>  {{ranking.member.identityDocument}}</p>
             </td>
               <td class="px-3 py-2">
               <p> {{ranking.member.identityNumber}}</p>
             </td>
              <td class="px-3 py-2">
               <p> {{ranking.competition.code}}</p>
             </td>
               <td class="px-3 py-2">
               <p> {{ranking.rank}}</p>
             </td>
             <td class="px-3 py-2">
               <p>{{ranking.score}}</p>
             </td>
             <td class="px-3 py-2">
              <button (click)="showFishForm(ranking.competition.code, ranking.member.num)"
                      class="bg-blue-500 text-white px-2 py-1 rounded">Add to Hunting</button>
            </td>
           </tr>
        </tbody>
        <div class="form-container" *ngIf="fishFormVisible">
          <h1 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Add to Hunting</h1>

          <form class="space-y-4" (ngSubmit)="addRankingToHunting()">
            <div>
              <select [(ngModel)]="fish"  name="competitioncode" id="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" >
                <!-- afficher que les competiton qui on une date plus que today +1 day-->

                <option  *ngFor="let fih of allFish" [value]="fih.id"  >
                  {{fih.name}}
             </option>


              </select>
            </div>
            <div>
                <input  type="number" id="numberOfFish" name="numberOfFish" [(ngModel)]="numberOfFish"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required>
            </div>


            <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Hunting</button>

        </form>
        </div>

      </table>

<div class="mt-14 p-14">
  <h1 class="text-white font-bold text-xl mb-10 ">Add Ranking</h1>

<form class="max-w-sm mx-auto" (ngSubmit)="addRanking()">
  <div class="mb-5">
    <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Competition</label>
    <select [(ngModel)]="competitioncode"  name="competitioncode" id="" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
      <!-- afficher que les competiton qui on une date plus que today +1 day-->

      <option  *ngFor="let competition of filteredCompetitions" >
        {{competition.code}}
   </option>


    </select>
  </div>
  <div class="mb-5">
    <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your name</label>
    <input [(ngModel)]="name" name="name" type="text"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"  required>
  </div>
  <div class="mb-5">
    <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your family name</label>
    <input [(ngModel)]="familyName"  name="familyName" type="text"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"  required>
  </div>
  <div class="mb-5">
    <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nationality</label>
    <input [(ngModel)]="nationality"  name="nationality" type="text"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"  required>
  </div>
  <div class="mb-5">
    <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Identity Document</label>
    <select [(ngModel)]="documentType" name="documentType" id="" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
      <option value="CIN" >
CIN
      </option>
      <option value="CARTE_RESIDENCE">
        CARTE RESIDENCE              </option>
              <option value="PASSWORD">
                PASSWORD                      </option>

    </select>
  </div>
  <div class="mb-5">
    <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Identity Number
    </label>
    <input type="text"  [(ngModel)]="identityNumber" name="identityNumber" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"  required>
  </div>

  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register new runting</button>
</form>
</div>
    </div>

  </div>


</div>
